.main-content {
  margin-left: 260px;
  margin-top: 64px;
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
}

@media (max-width: 992px) {
  .main-content {
    margin-left: 0;
  }
}
